---
name: Lint

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [master]

permissions:
  # Required to write linting fixes to the repository
  contents: write
  # Required to write Super-Linter status checks
  statuses: write

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    # Prevent the job from running twice (PR and push)
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    permissions:
      contents: read
      packages: read
      issues: write
      pull-requests: write
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: super-linter/super-linter@v8.5.0
        env:
          DEFAULT_BRANCH: master
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          FIX_MARKDOWN_PRETTIER: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: apply automated linting fixes"
          branch: ${{ github.head_ref }}